.table {
  background-color: green;
  height: 250px;
  width: 800px;
  border-radius: 50px;
  margin: 0 auto;
  border: 0.3em solid black;
  position: relative;
}

.dealers-hand, .players-hand {
  margin: 0 auto;
  height: 110px;
  width: 600px;
  text-align: center;
}

.players-hand {
  position: absolute;
  bottom: 0;
  margin-left: 100
}

.card {
  border: 0.2em solid black;
  border-radius: 10%;
  height: 100px;
  width: 70px;
  margin-right: 5px;
  background-color: white;
  display: inline-block;
}

.red {
  color: red
}

.black {
  color: black
}
